body{
    background-color: rgb(62, 62, 135);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;

}


header{
    color: aliceblue;

}

section {
    background-color: rgb(233, 238, 243);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

footer{
    color: aliceblue;
    font: italic;
}

#msg{
    padding: 20px;
}

#imagem {
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#imagem:hover {
    transform: scale(1.10);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#msg{
    font-size: 1.2em;
}

#tooltip {
    pointer-events: none; /* Para não interferir no mouse */
    z-index: 1000;
}